<configuration>
  <appender name="logcat" class="ch.qos.logback.classic.android.LogcatAppender">
    <tagEncoder>
      <pattern>%logger{12}</pattern>
    </tagEncoder>
    <encoder>
      <pattern>%msg</pattern>
    </encoder>
  </appender>

  <appender name="custom" class="com.ably.tracking.example.publisher.CustomLogsAppender" />

  <root level="DEBUG">
    <appender-ref ref="logcat" />
    <appender-ref ref="custom" />
  </root>
</configuration>
